body{
    width:100%;
    background-color: #1CC5DC;
}
.mission{
    background-color:#F5F7B2 ;
    color: black;
    font-size: 40px;
}
.vision{
    background-color:#F5F7B2 ;
    color: black;
    font-size: 40px;

}
.image{
    width:100%;
}
.miss{
    color: black;
    font-size: 60px;
}
.vis{
    color: black;
    font-size: 60px;
}
.con{
    color: black;
    font-size: 60px;  
}